.container {
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 200px;
	gap: 32px;
}

@media (max-width: 992px) {
	.container {
		flex-direction: column;
		gap: 16px;
		margin-top: 64px;
	}
}

.info {
	flex: none;
}

.title {
	font-weight: 900;
	font-size: 50px;
	line-height: 180%;
}

@media (max-width: 768px) {
	.title {
		font-size: 20px;
	}
}

.image {
	flex: 1;
	position: relative;
	height: 514px;
}
