.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	width: 100%;
	flex: 1;
	gap: 5rem;
}

.logo,
.menu,
.button_group,
.social_media {
	flex: 1;
	text-align: center;
	padding: 0 1rem;
}

.menu,
.button_group {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	flex: 1;
	gap: 2rem;
}

.menu_item {
	position: relative;
	cursor: pointer;
}

.menu_item_active::before {
	content: "";
	position: absolute;
	width: calc(100% + 8px);
	height: 6px;
	left: -4px;
	bottom: -5px;
	background: #0f4fe1;
	opacity: 0.4;
}

.social_media {
	flex: 1;
	padding: 0.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}
.button {
	flex: 1;
	border-radius: 24px;
	border: 1px solid #0f4fe1;
	color: #0f4fe1;
	padding: 0.5rem;
	cursor: pointer;
}
